@media only screen and (min-width: 750px) { 	/******************************************************************************
tablets and up
******************************************************************************/
	body {
		width: 100vw;
		height: 100vh;
	}
	
	#cols {
		display: block;
		width: 90%;
		margin: auto;
	}
	
	.col {
		display: inline-block;
		float: left;
		margin: 0 0.7%;
	}
	
	#col_1 {
		width: 40%;
	}
	#col_2 {
		width: 50%;
	}
}
